@media screen and (max-width: 470px) {
    .logo {
        font-size: 0.8rem;
        letter-spacing: 0.2rem;
        padding: 0 0.6rem;
        margin-left: 10px;
    }
    .navbar a{
        font-size: 20px;
    }
}