/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@300&display=swap');

body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

div {
  color: #ffffff;
}

.content {
  font-size: 1rem;
  margin: auto 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkblue;
  height: 75px; 
}

/* changed navbar css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  width: calc(100% - 40px);
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  color: whitesmoke;
}


.logo {
  font-family: 'poppins',sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  /* padding: 0 1.2rem; */
  font-weight: 100;
  color: rgb(254, 252, 252); 
}

@media only screen and (max-width: 1245px) {
  .logo {
      font-size: 16px;
  }
}

.logo_cont{
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}


.navbar a {
  margin-left: 10px;
  color: #ffffff;
  text-decoration: none;
}

.navbar a:first-child {
  margin-left: auto;
}

/* About Section */
#about {
  width: 100%;
  padding: 100px 1rem 100px;
}

#about_us .about {
  font-size: 1.5rem;
  width: 100%;
  text-align: justify;
  margin: 100px;
  align-items: center;
}

#about_us div {
  padding: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 5px;
  position: relative;
}

#about_us .about {
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.2rem;
}

#about_us div span {
  margin: 0;
  position: absolute;
  top: 60%;
  opacity: 0;
  left: 80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 1s;
}

#about_us p {
  width: 43em;
  color: white;
  text-align: justify;
  padding-top: 14em;
  font-family: "Work Sans", sans-serif;
  margin-left: 6em;
}

#about_us p::first-letter {
  padding-left: 47px;
  font-size: 55px;
  color: #fc036b;
}

/* Wrapper Section */
.wrapper {
  margin: 0;
  padding: 100px;
  text-align: justify;
  font-size: 1.5rem;
}

.one,
.two,
.three,
.four,
.five {
  display: flex;
  gap: 60px 30px;
  height: 400px;
}

.image1,
.image2,
.image3,
.image4,
.image5 {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 2%;
  font-size: 2rem;
  width: 3000px;
  height: 300px;
}

.image1 {
  background-image: url("img1.png");
}

.image2 {
  background-image: url("img2.png");
}

.image3 {
  background-image: url("img3.png");
}

.image4 {
  background-image: url("img4.png");
}

.image5 {
  background-image: url("img5.png");
}

/* Carousel Section */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

input[type="radio"] {
  display: none;
}

.cardt {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 5vw;
  right: 0;
  top: 14%;
  margin: auto;
  transition: transform 1s ease, opacity 1s ease, z-index 0.5s ease;
  cursor: pointer;
}

.containerx {
  width: 100%;
  height: 50vh;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.cards {
  position: relative;
  width: 200%;
  height: 100%;
}

.cards label img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #col-img-1,
#item-2:checked ~ .cards #col-img-2,
#item-3:checked ~ .cards #col-img-3,
#item-4:checked ~ .cards #col-img-4,
#item-5:checked ~ .cards #col-img-5 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 2;
  transition: all 0.5s ease;
}

/* this is to trac the left image */
#item-1:checked ~ .cards #col-img-5,
#item-2:checked ~ .cards #col-img-1,
#item-3:checked ~ .cards #col-img-2,
#item-4:checked ~ .cards #col-img-3,
#item-5:checked ~ .cards #col-img-4 {
  transform: translateX(-40%) scale(0.8); 
  opacity: 0.4;
  z-index: 0;
  transition: all 0.5s ease;
}

/* tracks right img */ 
#item-1:checked ~ .cards #col-img-2,
#item-2:checked ~ .cards #col-img-3,
#item-3:checked ~ .cards #col-img-4,
#item-4:checked ~ .cards #col-img-5,
#item-5:checked ~ .cards #col-img-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
  transition: all 0.5s ease;
}

/* This is used to hide all other images  */
#item-1:checked ~ .cards #col-img-3,
#item-1:checked ~ .cards #col-img-4,
#item-2:checked ~ .cards #col-img-4,
#item-2:checked ~ .cards #col-img-5,
#item-3:checked ~ .cards #col-img-5,
#item-3:checked ~ .cards #col-img-1,
#item-4:checked ~ .cards #col-img-1,
#item-4:checked ~ .cards #col-img-2,
#item-5:checked ~ .cards #col-img-2,
#item-5:checked ~ .cards #col-img-3 {
  opacity: 0;
  transform: translateX(0) scale(0);
  z-index: -1;
  transition: all 0.5s ease;
}

#item-1:checked ~ .cardt #col-img-1 {
  transform: translateY(0);
}

#item-2:checked ~ .cardt #col-img-2 {
  transform: translateY(-40px);
}

#item-3:checked ~ .cardt #col-img-3 {
  transform: translateY(-80px);
}

#item-4:checked ~ .cardt #col-img-4 {
  transform: translateY(-120px);
}

#item-5:checked ~ .cardt #col-img-5 {
  transform: translateY(-80px);
}
