/* Global Styles */
body {
  background-color: black;
}

div {
  color: #ffffff;
}

.content {
  font-size: 1rem;
  margin: auto 30px;
}

/* Header */
.header {
  background-color: #333333;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  height: 75px;
  font-size: 1.5rem;
  font-weight: bolder;
}

.logo {
  font-family: 'New Century Schoolbook', 'TeX Gyre Schola', serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding: 0;
  margin: 0;
}

.navbar a {
  margin-left: 10px;
  color: #ffffff;
  text-decoration: none;
}

.navbar a:first-child {
  margin-left: auto;
}

/* About Section */
#about {
  width: 100%;
  padding: 100px 1rem 100px;
}

#about_us .about {
  font-size: 1.5rem;
  width: 100%;
  text-align: justify;
  margin: 100px;
  align-items: center;
}

#about_us div {
  padding: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 5px;
  position: relative;
}

#about_us .about {
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
}

#about_us div span {
  margin: 0;
  position: absolute;
  top: 60%;
  opacity: 0;
  left: 80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 1s;
}

#about_us p {
  width: 43em;
  color: white;
  text-align: justify;
  padding-top: 14em;
  font-family: "Work Sans", sans-serif;
  margin-left: 6em;
}

#about_us p::first-letter {
  padding-left: 47px;
  font-size: 55px;
  color: #fc036b;
}

/* Wrapper Section */
.wrapper {
  margin: 0;
  padding: 100px;
  text-align: justify;
  font-size: 1.5rem;
}

.one,
.two,
.three,
.four,
.five {
  display: flex;
  gap: 60px 30px;
  height: 400px;
}

.image1,
.image2,
.image3,
.image4,
.image5 {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 2%;
  font-size: 2rem;
  width: 3000px;
  height: 300px;
}

.image1 {
  background-image: url("img1.png");
}

.image2 {
  background-image: url("img2.png");
}

.image3 {
  background-image: url("img3.png");
}

.image4 {
  background-image: url("img4.png");
}

.image5 {
  background-image: url("img5.png");
}

/* Carousel Section */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

input[type=radio] {
  display: none;
}

.cardt {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 5vw;
  right: 0;
  top: 14%;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.containerx {
  width: 100%;
  height: 50vh;
  transform-style: preserve-3d;
}

.cards {
  position: relative;
  width: 100vh;
  height: 100%;
}

.cards label img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #col-img-4,
#item-2:checked ~ .cards #col-img-5,
#item-3:checked ~ .cards #col-img-1,
#item-4:checked ~ .cards #col-img-2,
#item-5:checked ~ .cards #col-img-3 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #col-img-3,
#item-2:checked ~ .cards #col-img-4,
#item-3:checked ~ .cards #col-img-5,
#item-4:checked ~ .cards #col-img-1,
#item-5:checked ~ .cards #col-img-2 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #col-img-2,
#item-2:checked ~ .cards #col-img-3,
#item-3:checked ~ .cards #col-img-4,
#item-4:checked ~ .cards #col-img-5,
#item-5:checked ~ .cards #col-img-1 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .player #test {
    transform: translateY(0);
  } 

#item-2:checked ~ .player #test {
  transform: translateY(-40);
}

#item-3:checked ~ .player #test {
  transform: translateY(-80px);
}

#item-4:checked ~ .player #test {
  transform: translateY(-120px);
}

#item-5:checked ~ .player #test {
  transform: translateY(-180px);
}
